html {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.2em;
    text-shadow: 0 0 1px #000000BB, 0 0 3px #00000066;
    /* height: 100vh;
    width: 100vw; */
    overflow: hidden;
}

body {
    background-color: lightgrey;
}

.atom {
    opacity: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    text-align: center;
    align-content: center;
    box-shadow: inset 0 0 2em #00000066,
        0 0 .5em #00000066;
}

header {
    position: absolute;
    top: 10px;
    left: 20px;
}

section {
    position: absolute;
    top: 20px;
    left: 100px;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
}